<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="NAME" value="costCenter" />
    <add key="SAP_USERNAME" value="IDES-046" />
    <add key="SAP_PASSWORD" value="99so{HYc~\nhzZs=hY}+~2BMw%GGz3oBoMY%)bF~" />
    <add key="SAP_Client" value="902" />
    <add key="SAP_APPServerHost" value="i48lp1" />
    <add key="SAP_ROUTER" value="/H/proxy.hof-university.de/S/3299/H/saprouter.hcc.in.tum.de/S/3299/H/" />
    <add key="SAP_SYSTEMNUMBER" value="48" />
    <add key="SAP_SYSTEMID" value="I48" />
    <add key="SAP_LANGUAGE" value="DE" />
    <add key="SAP_POOLSIZE" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>